<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/accueil.scss">
        <link rel="stylesheet" href="css/nav.css">
    </head>
    <body>
        <%- include('components/nav', {user: locals.user}) %>
    </body>
</html>