<html>

<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <form action="#" method="post">
        <label for="nom">Nom</label>
        <input type="text" name="nom" id="nom" required class="inscription-input"><br>
        <label for="prenom">Prenom</label>
        <input type="text" name="prenom" id="prenom" required class="inscription-input"><br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required class="inscription-input"><br>
        <label for="tel">Telephone</label>
        <input type="tel" name="tel" id="tel" required class="inscription-input"><br>
        <label for="mdp">Mot de passe</label>
        <input type="password" name="mdp" id="mdp" required class="inscription-input"><br>
        <input type="submit" value="S'inscrire">
    </form>
</body>

</html>