<html>

<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="/css/inscription.css">
</head>

<body>
    <div class="box">
        <div class="form">
            <form action="#" method="post">
                <h2>INSCRIPTION</h2>
                <div class="inputBox">
                    <input type="text" name="nom" required>
                    <span>Nom</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="text" name="prenom" required>
                    <span>Prenom</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="email" name="email" required>
                    <span>Adresse email</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="text" name="tel" required>
                    <span>Téléphone</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" name="mdp" required>
                    <span>Mot de passe</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" name="mdpConfirm" required>
                    <span>Confirmation du mot de passe</span>
                    <i></i>
                </div>
                <div class="links">
                    <a href="../accueil">Retour à l'accueil</a>
                    <a href="connexion">Connexion</a>
                </div>
                <input type="submit" value="S'inscrire">
            </form>
            <% if(locals.error){ %>
            <div class="modal">
                <img class="imgModal" src="https://100dayscss.com/codepen/alert.png" width="44" height="38" />
                    <span class="titleModal">Erreur!</span>
                    <p class="textModal"><%= error %></p>
                    <div class="buttonModal" onclick="hideModal()">Dismiss</div>
            </div>
            <% } %>
        </div>
    </div>
</body>

<% if(locals.error){ %>
<script>
    function hideModal(){
        document.getElementsByClassName("modal")[0].classList.add("hideModal")
    }
</script>
<% } %>

</html>