<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contacts - Sébastien Pannatier</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
    <%- include('components/nav', {user: locals.user}) %>
    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="display-6 fw-bold mb-4">Liste des clients</h2>
                    <p class="text-muted">Cherchez et modifiez les différents clients</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div>
                        <form class="p-3 p-xl-4" method="post">
                            <div class="mb-3"><input class="shadow form-control" type="text" id="searchBar" name="search" placeholder="Recherche"></div>
                            <div class="mb-3">
                                <ul class="list-unstyled fs-4">
                                    <% userList.forEach(element => { %>
                                        <li class="user-li" <% if(element.adminUser==true){ __append("style='color:red;'")} %>><a href="edit-user?id=<%= element.idUser %>"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-edit">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3"></path>
                                            <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3"></path>
                                            <line x1="16" y1="5" x2="19" y2="8"></line>
                                        </svg></a>&nbsp;<%= element.emailUser %></li>
                                    <% }); %>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/startup-modern.js"></script>
    <script>
        const emails = document.getElementsByClassName("user-li");
        const searchBar = document.getElementById("searchBar");

        searchBar.addEventListener("input", searchUser);

        async function searchUser() {
            let searchParam = await searchBar.value.toUpperCase();
            Array.from(emails).forEach(element => {
                if(element.textContent.toUpperCase().includes(searchParam)){
                    element.classList.remove('d-none');
                }
                else{
                    element.classList.add('d-none');
                }
            });
        }
    </script>
</body>

</html>