<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contacts - Sébastien Pannatier</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
    <%- include('components/nav', {user: locals.user}) %>
    <section class="py-5 mt-5">
        <!-- Modal -->
        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Détails</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#infoModal').modal('hide')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="emailModal">Email</label>
                            <input disabled type="email" class="form-control" id="emailModal" placeholder="Email">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="nomModal">Nom</label>
                            <input disabled type="text" class="form-control" id="nomModal" placeholder="Nom">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="prenomModal">Prenom</label>
                            <input disabled type="text" class="form-control" id="prenomModal" placeholder="Prenom">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="telModal">Telephone</label>
                            <input disabled type="text" class="form-control" id="telModal" placeholder="Telephone">
                          </div>
                        </div>
                      </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" onclick="$('#infoModal').modal('hide')">Fermer</button>
                </div>
              </div>
            </div>
          </div>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="display-6 fw-bold mb-4">Liste des clients</h2>
                    <p class="text-muted">Cherchez et modifiez les différents clients</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div>
                        <form class="p-3 p-xl-4" method="post">
                            <div class="mb-3"><input class="shadow form-control" type="text" id="searchBar" name="search" placeholder="Recherche"></div>
                            <div class="mb-3">
                                <ul id="listUser" class="list-unstyled fs-4" style="cursor: pointer;">
                                    <% userList.forEach(element => { %>
                                        <li class="user-li" onclick="showInfo(<%= element.idUser %>)" <% if(element.adminUser==true){ __append("style='color:red;'")} %>><i class="fa-solid fa-eye"></i>&nbsp;<%= element.emailUser %></li>
                                    <% }); %>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://kit.fontawesome.com/ad6123e162.js" crossorigin="anonymous"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="js/startup-modern.js"></script>
    <script src="js/liste-client.js"></script>
</body>

</html>